<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <h1 class="text-3xl font-bold mb-8">Please confirm password on your email</h1>
  <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Back to Login
  </a>
</div>

<footer class="bg-[#FFE600] py-6 flex justify-center">
    <div class="container mx-auto px-4 flex flex-col items-center">
        <p class="text-gray-600 text-center">© 2024 FakeLibre. Made by Tomás with -`♡´-</p>
        <p class="text-gray-600 text-center inline-block mr-2">Made by Tomás with -`♡´-</p>
        <p class="text-gray-600 text-center inline-block">Linkedin - Github - My personal porfolio</p>
    </div>
</footer>
