<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <h1 class="text-3xl font-bold mb-8">Please confirm password on your email</h1>
  <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Back to Login
  </a>
</div>

<footer class="bg-[#FFE600] py-6 flex justify-center">
    <div class="container mx-auto px-4 flex flex-col items-center">
        <p class="text-gray-600 text-center mb-2">© 2024 FakeLibre.</p>
        
        <div class="text-gray-600 text-center">
            <p class="inline-block mr-2">Made by Tomás with -`♡´- for Coderhouse</p>
            <p class="inline-block"><a href="https://www.linkedin.com/in/tomasmanduca/">Linkedin</a> - <a href="https://github.com/allthingsmustpass">Github</a> - <a>Portfolio</a></p>
        </div>
    </div>
</footer>
