<div class="bg-green-500 text-white px-4 py-2 rounded-md shadow-md px-10">
    <span class="font-semibold mx-10">Password successfully changed</span>
    <a href="/login" class="mt-2 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">¡Go to Login!</a>
</div>